@mixin  style_h1 {
    margin-top: 86.5px;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.73;
    letter-spacing: 0.75px;
    text-align: center;
    color: #212121;
    
}
@mixin style_h3 {
    margin-top: 18px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.38px;
    text-align: center;
    color: #212121;
}
@mixin style_button {
        width: 118px;
        height: 40px;
        margin: 22px 23.5px 0 37px;
        padding: 10.5px 7px 10.5px 7.5px;
        border: solid 1px #212121;
        background-color: transparent;
        padding: 0 auto;
}

$green: #00897b;    